################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ROBO
/API.ROBO/obj
/API.ROBO/bin/Debug/netcoreapp3.1
