table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

h1 {
    text-align: center;
}

button {
    width: 25px;
    height: 22px;
}

.mais {
    margin-right: 10px;
}